{% extends 'mailing_service/base.html' %}

{% block title %}Клиенты{% endblock %}

{% block content %}
<h1>Клиенты</h1>
<a href="{% url 'clients:clients_create' %}" class="btn btn-primary mb-3">Создать Клиента</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>ФИО</th>
            <th>Комментарий</th>
            <th>Владелец</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.full_name }}</td>
            <td>{{ client.comment }}</td>
            <td>{{ client.owner }}</td>
            <td>
                <a href="{% url 'clients:clients_detail' client.id %}" class="btn btn-info btn-sm">Просмотр</a>
                {% if perms.clients.can_view_mailing and perms.clients.can_block_user and perms.clients.can_disable_mailing or user == client.owner %}
                    <a href="{% url 'clients:clients_update' client.id %}" class="btn btn-warning btn-sm">Редактировать</a>
                    <a href="{% url 'clients:clients_delete' client.id %}" class="btn btn-danger btn-sm">Удалить</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Клиентов не найдено.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

