{% extends 'mailing_service/base.html' %}

{% block title %}Рассылки{% endblock %}

{% block content %}
<h1>Рассылки</h1>
<a href="{% url 'mailing_service:mailing_create' %}" class="btn btn-primary mb-3">Создать Новую Рассылку</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Сообщение</th>
            <th>Периодичность</th>
            <th>Статус</th>
            <th>Дата Начала</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for mailing in mailings %}
        <tr>
            <td>{{ mailing.id }}</td>
            <td>{{ mailing.message.body }}</td>
            <td>{{ mailing.get_periodicity_display }}</td>
            <td>{{ mailing.get_status_display }}</td>
            <td>{{ mailing.start_datetime }}</td>
            <td>
            <a href="{% url 'mailing_service:mailing_detail' mailing.id %}" class="btn btn-info btn-sm">Просмотр</a>
                {% if perms.mailing_service.can_view_mailing and perms.mailing_service.can_block_user and perms.mailing_service.can_disable_mailing or user == mailing.owner %}
                    <a href="{% url 'mailing_service:mailing_update' mailing.id %}" class="btn btn-warning btn-sm">Редактировать</a>
                    <a href="{% url 'mailing_service:mailing_delete' mailing.id %}" class="btn btn-danger btn-sm">Удалить</a>
                {% endif %}

</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Рассылок не найдено.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

